site_name: slycache
repo_url: https://github.com/snopoke/slycache
theme:
  name: material
  features:
    - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

nav:
    - Home: index.md
    - API: api.md
    - Changelog: changelog.md
    - License: license.md

markdown_extensions:
  - toc
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          show_source: False
          show_signature_annotations: True
          separate_signature: True
          members_order: source
